@use './typography.scss';

@font-face {
  font-family: Geist;
  src: url('@/assets/font/Geist/Geist-Regular.woff2') format('woff2'),
    url('@/assets/font/Geist/Geist-Regular.woff') format('woff'),
    url('@/assets/font/Geist/Geist-Regular.ttf') format('truetype');
  font-weight: typography.$font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url('@/assets/font/Geist/Geist-Black.woff2') format('woff2'),
    url('@/assets/font/Geist/Geist-Black.woff') format('woff'),
    url('@/assets/font/Geist/Geist-Black.ttf') format('truetype');
  font-weight: typography.$font-weight-black;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url('@/assets/font/Geist/Geist-Bold.woff2') format('woff2'),
    url('@/assets/font/Geist/Geist-Bold.woff') format('woff'),
    url('@/assets/font/Geist/Geist-Bold.ttf') format('truetype');
  font-weight: typography.$font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url('@/assets/font/Geist/Geist-UltraLight.woff2') format('woff2'),
    url('@/assets/font/Geist/Geist-UltraLight.woff') format('woff'),
    url('@/assets/font/Geist/Geist-UltraLight.ttf') format('truetype');
  font-weight: typography.$font-weight-extralight;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url('@/assets/font/Geist/Geist-Thin.woff2') format('woff2'),
    url('@/assets/font/Geist/Geist-Thin.woff') format('woff'),
    url('@/assets/font/Geist/Geist-Thin.ttf') format('truetype');
  font-weight: typography.$font-weight-thin;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url('@/assets/font/Geist/Geist-Medium.woff2') format('woff2'),
    url('@/assets/font/Geist/Geist-Medium.woff') format('woff'),
    url('@/assets/font/Geist/Geist-Medium.ttf') format('truetype');
  font-weight: typography.$font-weight-medium;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url('@/assets/font/Geist/Geist-UltraBlack.woff2') format('woff2'),
    url('@/assets/font/Geist/Geist-UltraBlack.woff') format('woff'),
    url('@/assets/font/Geist/Geist-UltraBlack.ttf') format('truetype');
  font-weight: typography.$font-weight-extrabold;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url('@/assets/font/Geist/Geist-Light.woff2') format('woff2'),
    url('@/assets/font/Geist/Geist-Light.woff') format('woff'),
    url('@/assets/font/Geist/Geist-Light.ttf') format('truetype');
  font-weight: typography.$font-weight-light;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url('@/assets/font/Geist/Geist-SemiBold.woff2') format('woff2'),
    url('@/assets/font/Geist/Geist-SemiBold.woff') format('woff'),
    url('@/assets/font/Geist/Geist-SemiBold.ttf') format('truetype');
  font-weight: typography.$font-weight-semibold;
  font-style: normal;
}

@font-face {
  font-family: GeistMono;
  src: url('@/assets/font/GeistMono/GeistMono-Regular.woff2') format('woff2'),
    url('@/assets/font/GeistMono/GeistMono-Regular.woff') format('woff'),
    url('@/assets/font/GeistMono/GeistMono-Regular.ttf') format('truetype');
  font-weight: typography.$font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: GeistMono;
  src: url('@/assets/font/GeistMono/GeistMono-Black.woff2') format('woff2'),
    url('@/assets/font/GeistMono/GeistMono-Black.woff') format('woff'),
    url('@/assets/font/GeistMono/GeistMono-Black.ttf') format('truetype');
  font-weight: typography.$font-weight-black;
  font-style: normal;
}

@font-face {
  font-family: GeistMono;
  src: url('@/assets/font/GeistMono/GeistMono-Bold.woff2') format('woff2'),
    url('@/assets/font/GeistMono/GeistMono-Bold.woff') format('woff'),
    url('@/assets/font/GeistMono/GeistMono-Bold.ttf') format('truetype');
  font-weight: typography.$font-weight-bold;
  font-style: normal;
}

@font-face {
  font-family: GeistMono;
  src: url('@/assets/font/GeistMono/GeistMono-UltraLight.woff2') format('woff2'),
    url('@/assets/font/GeistMono/GeistMono-UltraLight.woff') format('woff'),
    url('@/assets/font/GeistMono/GeistMono-UltraLight.ttf') format('truetype');
  font-weight: typography.$font-weight-extralight;
  font-style: normal;
}

@font-face {
  font-family: GeistMono;
  src: url('@/assets/font/GeistMono/GeistMono-Thin.woff2') format('woff2'),
    url('@/assets/font/GeistMono/GeistMono-Thin.woff') format('woff'),
    url('@/assets/font/GeistMono/GeistMono-Thin.ttf') format('truetype');
  font-weight: typography.$font-weight-thin;
  font-style: normal;
}

@font-face {
  font-family: GeistMono;
  src: url('@/assets/font/GeistMono/GeistMono-Medium.woff2') format('woff2'),
    url('@/assets/font/GeistMono/GeistMono-Medium.woff') format('woff'),
    url('@/assets/font/GeistMono/GeistMono-Medium.ttf') format('truetype');
  font-weight: typography.$font-weight-medium;
  font-style: normal;
}

@font-face {
  font-family: GeistMono;
  src: url('@/assets/font/GeistMono/GeistMono-UltraBlack.woff2') format('woff2'),
    url('@/assets/font/GeistMono/GeistMono-UltraBlack.woff') format('woff'),
    url('@/assets/font/GeistMono/GeistMono-UltraBlack.ttf') format('truetype');
  font-weight: typography.$font-weight-extrabold;
  font-style: normal;
}

@font-face {
  font-family: GeistMono;
  src: url('@/assets/font/GeistMono/GeistMono-Light.woff2') format('woff2'),
    url('@/assets/font/GeistMono/GeistMono-Light.woff') format('woff'),
    url('@/assets/font/GeistMono/GeistMono-Light.ttf') format('truetype');
  font-weight: typography.$font-weight-light;
  font-style: normal;
}

@font-face {
  font-family: GeistMono;
  src: url('@/assets/font/GeistMono/GeistMono-SemiBold.woff2') format('woff2'),
    url('@/assets/font/GeistMono/GeistMono-SemiBold.woff') format('woff'),
    url('@/assets/font/GeistMono/GeistMono-SemiBold.ttf') format('truetype');
  font-weight: typography.$font-weight-semibold;
  font-style: normal;
}

.font-thin {
  font-weight: typography.$font-weight-thin;
}

.font-extralight {
  font-weight: typography.$font-weight-extralight;
}

.font-light {
  font-weight: typography.$font-weight-light;
}

.font-regular {
  font-weight: typography.$font-weight-regular;
}

.font-medium {
  font-weight: typography.$font-weight-medium;
}

.font-semibold {
  font-weight: typography.$font-weight-semibold;
}

.font-bold {
  font-weight: typography.$font-weight-bold;
}

.font-extrabold {
  font-weight: typography.$font-weight-extrabold;
}

.font-black {
  font-weight: typography.$font-weight-black;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
} /* 40px */