@use './primevue-theme-aura-light-carlos.css';

.carlos-nav {
  a {
    color: var(--carlos-primary-color-text);
  }

  .p-avatar {
    background-color: #fff3;
  }

  .p-menuitem-link {
    padding: 0.5rem 1rem;
    font-weight: 600;
  }

  .p-menuitem-separator {
    margin: .25rem 0;
  }
  
  &.p-menu {
    background: var(--carlos-primary-color);
    color: var(--carlos-primary-color-text);
    border: 1px solid var(--carlos-primary-color--light);
  }

  &.p-menu .p-menuitem > .p-menuitem-content {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem.p-highlight > .p-menuitem-content {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color);
  }

  &.p-menu .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-icon, .p-menu .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem.p-highlight.p-focus > .p-menuitem-content {
    background: var(--carlos-primary-color--light);
  }

  &.p-menu .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color--light);
  }

  &.p-menu .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-menuitem-icon, .p-menu .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content:hover {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color--light);
  }

  &.p-menu .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-icon, .p-menu .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content:hover .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color--light);
  }

  &.p-menu .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-icon, .p-menu .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menu.p-menu-overlay {
    background: var(--carlos-primary-color);
    border: 1px solid var(--carlos-primary-color--light);
  }

  &.p-menu .p-submenu-header {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color);
  }

  &.p-menu .p-menuitem-separator {
    border-top: 1px solid var(--carlos-primary-color--light);
  }

  &.p-menubar {
    background: var(--carlos-primary-color);
    color: var(--carlos-primary-color-text);
    border: 1px solid var(--carlos-primary-color--light);
  }

  &.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color--light);
  }

  &.p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem > .p-menuitem-content {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color);
  }

  &.p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem.p-highlight.p-focus > .p-menuitem-content {
    background: var(--carlos-primary-color--light);
  }

  &.p-menubar .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color--light);
  }

  &.p-menubar .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content:hover {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color--light);
  }

  &.p-menubar .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menuitem:not(.p-highlight, .p-disabled).p-focus > .p-menuitem-content:hover .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color--light);
  }

  &.p-menubar .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menuitem:not(.p-highlight, .p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-submenu-icon {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar .p-submenu-list {
    background: var(--carlos-primary-color);
    border: 1px solid var(--carlos-primary-color--light);
  }

  &.p-menubar .p-submenu-list .p-menuitem-separator {
    border-top: 1px solid var(--carlos-primary-color--light);
  }

  &.p-menubar.p-menubar-mobile .p-menubar-button {
    color: var(--carlos-primary-color-text);
  }

  &.p-menubar.p-menubar-mobile .p-menubar-button:hover {
    color: var(--carlos-primary-color-text);
    background: var(--carlos-primary-color--dark);
  }

  &.p-menubar.p-menubar-mobile .p-menubar-button:focus {
    outline: 1px solid var(--carlos-primary-color--dark);
  }

  &.p-menubar.p-menubar-mobile .p-menubar-root-list {
    background: var(--carlos-primary-color);
    border: 1px solid var(--carlos-primary-color--dark);
  }

}

@media only screen and (width <= 769px) {
    .carlos-nav.p-menubar {
      border: none;
    }
  }

/* Original values from Lara Theme. But Primevue seems to overwrite
 them again
 */
.p-tag.p-tag-success {
  background-color: #22c55e;
  color: #fff;
}

.p-tag.p-tag-info {
  background-color: #0ea5e9;
  color: #fff;
}

.p-tag.p-tag-warning {
  background-color: #f97316;
  color: #fff;
}

.p-tag.p-tag-danger {
  background-color: var(--carlos-danger-color);
  color: #fff;
}

.p-tag.p-tag-secondary {
  background-color: #f1f5f9;
  color: #475569;
}

.p-tag.p-tag-contrast {
  background-color: #020617;
  color: #fff;
}